## Introdução ao Pandas

In [5]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/arteweyl/.local/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: pytz>=2020.1 in /home/arteweyl/.local/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/arteweyl/.local/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/arteweyl/.local/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.23.2 in /home/arteweyl/.local/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [8]:
arr = np.array(range(10,20))
arr

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [10]:
pd.Series(arr)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [13]:
matriz = np.array([[1,2,3],[4,5,6]])
matriz

df = pd.DataFrame(matriz)
df

   0  1  2
0  1  2  3
1  4  5  6

In [15]:
df = pd.DataFrame(matriz,columns=['Coluna 1', 'Coluna 2', "Coluna 3"], index=['Index 1', 'Index 2'])
df

         Coluna 1  Coluna 2  Coluna 3
Index 1         1         2         3
Index 2         4         5         6

In [18]:
carros = {'Marcas':['Porche','Alfa Romeo', 'Chevrolet'],'Modelos':['Cayman GT4','Giulia','Camaro']}
carros_df = pd.DataFrame(carros)
carros_df

       Marcas     Modelos
0      Porche  Cayman GT4
1  Alfa Romeo      Giulia
2   Chevrolet      Camaro

#### Exercício
Crie um DataFrame com as seguintes informações: Coluna "fruta": "Banana", "Maça", "Pera" Coluna "preco": 7.90, 10.20, 11.80 Coluna "quantidade": 12, 3, 4

In [19]:
frutas = {"fruta": ["Banana", "Maça", "Pera"],
        "preco": [7.90, 10.20, 11.80],
        "quantidade": [12, 3, 4]}

df = pd.DataFrame(frutas)

df

    fruta  preco  quantidade
0  Banana    7.9          12
1    Maça   10.2           3
2    Pera   11.8           4

## Leitura a partir de arquivos usando pandas

In [22]:
df = pd.read_csv('../datasets/Cancer_Data.csv')
df

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [26]:
cancer_data = pd.read_csv('../datasets/Cancer_Data.csv',sep = ',',decimal='.')
cancer_data

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [25]:
%pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [28]:
fastfood = pd.read_excel('../datasets/fastfood.xlsx',sheet_name='fastfood')
fastfood

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,Taco Bell,Spicy Triple Double Crunchwrap,780,340,38,10,0.5,50,1850,87,9.0,8,23.0,20.0,10.0,25.0,Other
511,Taco Bell,Express Taco Salad w/ Chips,580,260,29,9,1,60,1270,59,8.0,7,23.0,NaN,NaN,NaN,Other
512,Taco Bell,Fiesta Taco Salad-Beef,780,380,42,10,1,60,1340,74,11.0,7,26.0,NaN,NaN,NaN,Other
513,Taco Bell,Fiesta Taco Salad-Chicken,720,320,35,7,0,70,1260,70,8.0,8,32.0,NaN,NaN,NaN,Other
514,Taco Bell,Fiesta Taco Salad-Steak,720,320,36,8,1,55,1340,70,8.0,8,28.0,NaN,NaN,NaN,Other

## Salvando arquivos a partir de um dataframe

In [29]:
cancer_data.to_excel('Cancer_data2.xlsx')

In [31]:
fastfood.to_csv('fastfood.csv',sep=';',index=True)

#### Exercício 
salvem fastfood xlsx em csv com separador | e sem indíce

In [32]:
fastfood.to_csv('fastfood.csv',sep='|',index=False)

### Modificando Index

In [4]:
data = {'nome': ['Alice', 'John', 'Robin'], 'idade': [25, 30, 35]}
df = pd.DataFrame(data)
df

    nome  idade
0  Alice     25
1   John     30
2  Robin     35

In [5]:
df_novo = df.set_index('nome')
df_novo

       idade
nome
Alice     25
John      30
Robin     35

In [6]:
df_resetado = df_novo.reset_index()
df_resetado

    nome  idade
0  Alice     25
1   John     30
2  Robin     35

In [7]:
df_resetado = df_novo.reset_index(drop=True)
df_resetado

   idade
0     25
1     30
2     35

In [8]:
df.columns

Index(['nome', 'idade'], dtype='object')

### Adicionando nova coluna no dataframe.

In [9]:
df['UF'] = ['RJ','SP','SC']
df

    nome  idade  UF
0  Alice     25  RJ
1   John     30  SP
2  Robin     35  SC

In [45]:
df['Pais'] = 'Brasil'
df

    nome  idade  UF    Pais
0  Alice     25  RJ  Brasil
1   John     30  SP  Brasil
2  Robin     35  SC  Brasil

### Filtros

In [51]:
print(df['idade'] >= 30)
filtro = df['idade'] >= 30
df_filtrado = df[filtro]
df_filtrado

0    False
1     True
2     True
Name: idade, dtype: bool

    nome  idade  UF    Pais
1   John     30  SP  Brasil
2  Robin     35  SC  Brasil

In [56]:
df

       idade  UF    Pais
nome
Alice     25  RJ  Brasil
John      30  SP  Brasil
Robin     35  SC  Brasil

### LOC e ILOC

In [60]:
df.loc['John','UF']

'SP'

In [61]:
df.iloc[1,0]

30

In [62]:
df.iloc[[0,1],0]

nome
Alice    25
John     30
Name: idade, dtype: int64

In [66]:
df = df.reset_index(drop=True)

In [67]:
df

    nome  idade  UF    Pais
0  Alice     25  RJ  Brasil
1   John     30  SP  Brasil
2  Robin     35  SC  Brasil

In [68]:
df.loc[df['idade']>=30,'nome']

1     John
2    Robin
Name: nome, dtype: object

#### Exercício
Abra o arquivo '"cancer_data.csv', filtre as linhas que possuem a coluna diagnosis = 'B'

In [69]:
cancer_data

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [76]:
cancer_b = cancer_data['diagnosis'] == 'B'
cancer_data_b = cancer_data[cancer_b]
cancer_data.loc[cancer_data['diagnosis']=='B','diagnosis'].count()

357

In [77]:
fastfood

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,Taco Bell,Spicy Triple Double Crunchwrap,780,340,38,10,0.5,50,1850,87,9.0,8,23.0,20.0,10.0,25.0,Other
511,Taco Bell,Express Taco Salad w/ Chips,580,260,29,9,1,60,1270,59,8.0,7,23.0,NaN,NaN,NaN,Other
512,Taco Bell,Fiesta Taco Salad-Beef,780,380,42,10,1,60,1340,74,11.0,7,26.0,NaN,NaN,NaN,Other
513,Taco Bell,Fiesta Taco Salad-Chicken,720,320,35,7,0,70,1260,70,8.0,8,32.0,NaN,NaN,NaN,Other
514,Taco Bell,Fiesta Taco Salad-Steak,720,320,36,8,1,55,1340,70,8.0,8,28.0,NaN,NaN,NaN,Other

In [79]:
fastfood.loc[(fastfood['restaurant']=='Taco Bell')&(fastfood['calories']>380),'item']

400    1/2 lb.* Cheesy Potato Burrito
401            1/2 lb.* Combo Burrito
402                   7-Layer Burrito
404             Beefy 5-Layer Burrito
405             Beefy Fritos® Burrito
                    ...
510    Spicy Triple Double Crunchwrap
511       Express Taco Salad w/ Chips
512            Fiesta Taco Salad-Beef
513         Fiesta Taco Salad-Chicken
514           Fiesta Taco Salad-Steak
Name: item, Length: 69, dtype: object

#### Exercício
Filtrem os ID's que possuem diagnostico M e raio maior que 25

In [80]:
cancer_data

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [81]:
cancer_data.loc[(cancer_data['diagnosis']=='M')&(cancer_data['radius_mean']>25),'id']

82       8611555
180       873592
212      8810703
352       899987
461    911296202
Name: id, dtype: int64

#### Métodos de um dataframe

In [82]:
cancer_data.head() # mostra primeiros 5 itens

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [84]:
cancer_data.tail(10) # mostra ultimos 5 itens

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
559,925291,B,11.51,23.93,74.52,403.5,0.09261,0.10210,0.11120,0.04105,...,37.16,82.28,474.2,0.12980,0.25170,0.3630,0.09653,0.2112,0.08732,NaN
560,925292,B,14.05,27.15,91.38,600.4,0.09929,0.11260,0.04462,0.04304,...,33.17,100.20,706.7,0.12410,0.22640,0.1326,0.10480,0.2250,0.08321,NaN
561,925311,B,11.20,29.37,70.67,386.0,0.07449,0.03558,0.00000,0.00000,...,38.30,75.19,439.6,0.09267,0.05494,0.0000,0.00000,0.1566,0.05905,NaN
562,925622,M,15.22,30.62,103.40,716.9,0.10480,0.20870,0.25500,0.09429,...,42.79,128.70,915.0,0.14170,0.79170,1.1700,0.23560,0.4089,0.14090,NaN
563,926125,M,20.92,25.09,143.00,1347.0,0.10990,0.22360,0.31740,0.14740,...,29.41,179.10,1819.0,0.14070,0.41860,0.6599,0.25420,0.2929,0.09873,NaN
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.22160,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.16280,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.14180,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.26500,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.00000,0.2871,0.07039,NaN

In [86]:
fastfood.describe().round() # mostra uma tabela com as principais informações estatísticas do dataframe, .round() arredonda

,calories,cal_fat,total_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium
count,515.0,515.0,515.0,515.0,515.0,515.0,503.0,515.0,514.0,301.0,305.0,305.0
mean,531.0,239.0,27.0,72.0,1247.0,46.0,4.0,7.0,28.0,19.0,20.0,25.0
std,282.0,166.0,18.0,63.0,690.0,25.0,3.0,7.0,18.0,31.0,31.0,26.0
min,20.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
25%,330.0,120.0,14.0,35.0,800.0,28.0,2.0,3.0,16.0,4.0,4.0,8.0
50%,490.0,210.0,23.0,60.0,1110.0,44.0,3.0,6.0,24.0,10.0,10.0,20.0
75%,690.0,310.0,35.0,95.0,1550.0,57.0,5.0,9.0,36.0,20.0,30.0,30.0
max,2430.0,1270.0,141.0,805.0,6080.0,156.0,17.0,87.0,186.0,180.0,400.0,290.0

In [87]:
fastfood.info() # mostra informações dos tipos no dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restaurant   515 non-null    object
 1   item         515 non-null    object
 2   calories     515 non-null    int64
 3   cal_fat      515 non-null    int64
 4   total_fat    515 non-null    int64
 5   sat_fat      515 non-null    object
 6   trans_fat    515 non-null    object
 7   cholesterol  515 non-null    int64
 8   sodium       515 non-null    int64
 9   total_carb   515 non-null    int64
 10  fiber        503 non-null    float64
 11  sugar        515 non-null    int64
 12  protein      514 non-null    float64
 13  vit_a        301 non-null    float64
 14  vit_c        305 non-null    float64
 15  calcium      305 non-null    float64
 16  salad        515 non-null    object
dtypes: float64(5), int64(7), object(5)
memory usage: 68.5+ KB

In [88]:
fastfood.shape # identico ao numpy.array.shape mostra o shape do dataframe

(515, 17)

### Trabalhando com nulos

In [89]:
fastfood[fastfood['protein'].isnull()] # função isnull( é usada como filtro pra colocalizar nulos)

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
205,Burger King,Farmhouse King,1220,720,80,28,3,335,2050,62,NaN,15,NaN,NaN,NaN,NaN,Other

In [90]:
fastfood.isnull()

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
511,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False
512,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False
513,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False
514,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False

In [91]:
fastfood['protein'] = fastfood['protein'].fillna(0) # fillna() é usada pra preencher nulos

In [92]:
fastfood[fastfood['protein'].isnull()]

Empty DataFrame
Columns: [restaurant, item, calories, cal_fat, total_fat, sat_fat, trans_fat, cholesterol, sodium, total_carb, fiber, sugar, protein, vit_a, vit_c, calcium, salad]
Index: []

In [94]:
print(fastfood.shape)
fastfood = fastfood.dropna() # dropna() é usada pra remover todas as linhas que tenham entradas nulas
print(fastfood.shape)

(515, 17)
(301, 17)

In [95]:
fastfood

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,Taco Bell,Chicken Quesalupa,440,200,23,10,0.5,60,840,37,3.0,3,22.0,15.0,8.0,35.0,Other
503,Taco Bell,Beef Quesalupa,460,240,26,11,1,50,890,38,4.0,3,19.0,15.0,6.0,35.0,Other
507,Taco Bell,Stacker,390,170,18,8,0.5,40,1050,39,4.0,3,18.0,8.0,2.0,30.0,Other
509,Taco Bell,Original Triple Double Crunchwrap,700,270,30,9,0.5,45,1550,85,9.0,7,23.0,15.0,6.0,25.0,Other
510,Taco Bell,Spicy Triple Double Crunchwrap,780,340,38,10,0.5,50,1850,87,9.0,8,23.0,20.0,10.0,25.0,Other

### métodos de string com pandas

In [96]:
fastfood['item'].str.len() # mede taamnho da string na coluna

0      32
1      30
2      30
3      41
4      40
       ..
502    17
503    14
507     7
509    33
510    30
Name: item, Length: 301, dtype: int64

In [97]:
fastfood['item'].str.lower() # deixa a string toda em lower case

0               artisan grilled chicken sandwich
1                 single bacon smokehouse burger
2                 double bacon smokehouse burger
3      grilled bacon smokehouse chicken sandwich
4       crispy bacon smokehouse chicken sandwich
                         ...
502                            chicken quesalupa
503                               beef quesalupa
507                                      stacker
509            original triple double crunchwrap
510               spicy triple double crunchwrap
Name: item, Length: 301, dtype: object

In [98]:
fastfood['item'].str.upper() # deixa a string toda em upper case

0               ARTISAN GRILLED CHICKEN SANDWICH
1                 SINGLE BACON SMOKEHOUSE BURGER
2                 DOUBLE BACON SMOKEHOUSE BURGER
3      GRILLED BACON SMOKEHOUSE CHICKEN SANDWICH
4       CRISPY BACON SMOKEHOUSE CHICKEN SANDWICH
                         ...
502                            CHICKEN QUESALUPA
503                               BEEF QUESALUPA
507                                      STACKER
509            ORIGINAL TRIPLE DOUBLE CRUNCHWRAP
510               SPICY TRIPLE DOUBLE CRUNCHWRAP
Name: item, Length: 301, dtype: object

In [100]:
fastfood['item'].str.replace('Burger', 'XBurger') # substitui termo na string

0               Artisan Grilled Chicken Sandwich
1                Single Bacon Smokehouse XBurger
2                Double Bacon Smokehouse XBurger
3      Grilled Bacon Smokehouse Chicken Sandwich
4       Crispy Bacon Smokehouse Chicken Sandwich
                         ...
502                            Chicken Quesalupa
503                               Beef Quesalupa
507                                      Stacker
509            Original Triple Double Crunchwrap
510               Spicy Triple Double Crunchwrap
Name: item, Length: 301, dtype: object

#### Exercício
Substitua a coluna diagnosis seguindo a regra: “B” para “benign cancer” “M” para “malignant cancer”

In [101]:
cancer_data['diagnosis'] = cancer_data['diagnosis'].str.replace('B','Benign Cancer')
cancer_data['diagnosis'] = cancer_data['diagnosis'].str.replace('M','Malignant Cancer')
cancer_data

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,Malignant Cancer,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,Malignant Cancer,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,Malignant Cancer,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,Malignant Cancer,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,Malignant Cancer,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,Malignant Cancer,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,Malignant Cancer,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,Malignant Cancer,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,Malignant Cancer,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,Benign Cancer,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [102]:
fastfood['item'].str.split(" ") # cria lista a partir de itens da string

0                [Artisan, Grilled, Chicken, Sandwich]
1                  [Single, Bacon, Smokehouse, Burger]
2                  [Double, Bacon, Smokehouse, Burger]
3      [Grilled, Bacon, Smokehouse, Chicken, Sandwich]
4       [Crispy, Bacon, Smokehouse, Chicken, Sandwich]
                            ...
502                               [Chicken, Quesalupa]
503                                  [Beef, Quesalupa]
507                                          [Stacker]
509             [Original, Triple, Double, Crunchwrap]
510                [Spicy, Triple, Double, Crunchwrap]
Name: item, Length: 301, dtype: object

In [103]:
fastfood['item'].str.contains('Burger') #filtro em cima de um item da string

0      False
1       True
2       True
3      False
4      False
       ...
502    False
503    False
507    False
509    False
510    False
Name: item, Length: 301, dtype: bool